.form-ctn {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    @include respond(tab-port) {
        width: 90%;
        position: absolute;
        bottom: 2rem;
    }
    @include respond(desktop) {
        width: 80%;
    }
    @include respond(big-desktop) {
        bottom: 8rem;
    }
}

.form-input-ctn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: $white-color;
    margin: 0 auto;
    padding: 0 1rem 2rem 1rem;
    border-radius: 0 8px 8px 8px;
    input {
        width: 100%;
        height: 2rem;
        font-size: .7rem;
        font-family: $font-primary;
        padding: 0 5px;
        border: 1px solid $grey-color;
        border-radius: 2px;
        background-color: $white-color;
        color: $grey-color;
        @include respond(big-desktop) {
           font-size: .8rem;
        }
    }
    button {
        align-self: center;
    }
    p {
        font-size: .7rem;
        font-weight: 600;
        @include respond(desktop) {
            font-size: .9rem;
            margin-bottom: .8rem;
        }
    }
    section {
        width: 100%;
        text-align: left;
    }
    @include respond(tab-port) {
        flex-direction: row;
        padding-right: 10rem;
        gap: .5rem;
    }
    @include respond(big-desktop) {
        padding: 1.5rem 10rem 1.5rem 1rem;
    }
}

.trip-form {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    @include respond(tab-port) {
        width: 85vw;
        padding: 0 1.5rem;
    }
    @include respond(tab-land) {
        width: 100%;
        padding: 0 7rem;
    }
    @include respond(desktop) {
        padding-left: 20rem;
    }
    @include respond(big-desktop) {
        padding-left: 30rem;
    }
    button {
        @include respond(tab-port) {
            position: absolute;
            right: 5rem;
            top: calc(50% + .5rem);
            margin: 0;
        }
        @include respond(tab-land) {
            right: 8.5rem;
        }
        @include respond(desktop) {
            top: calc(50% + 1rem);
        }
        @include respond(big-desktop) {
            top: calc(50% + 1.8rem);
        }
        
    }
}

.trip-btn-ctn {
    display: flex;
    width: 95%;
    div {
        position: relative;
    }
    input {
        opacity: 0.01;
        z-index: 100;
    }
    input:checked+label {
        background-color: $white-color;
        color: $grey-color;
    }
    input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }
}

.auth-form-ctn {
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(26, 117, 85, 0.73)),
    url('/public/buckle_up-hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    @include respond(tab-port) {
        width: 50%;
    }
    @include respond(tab-land) {
        width: 30%;
    }
    @include respond(desktop) {
        width: 20%;
        padding: 4rem;
    }
    h2 {
        margin: 0;
        
    }
    h6 {
        margin: 1rem 0;
        font-size: .8rem;
    }
    input {
        width: 100%;
        height: 2rem;
        font-size: .8rem;
        font-family: $font-primary;
        padding: 0 5px;
        border: 1px solid $grey-color;
        border-radius: 5px;
        background-color: $white-color;
        color: $grey-color;
        margin-bottom: 1rem;  
    }
    button {
        width: 70%;
    }
}

.edit-trip-ctn {
    padding: 4rem 1.5rem 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    .edit-trip-map {
        @include respond(tab-land){
            grid-column: 1/2;
            grid-row: 1/3;
            margin-top: 0;
        }
    }
    @include respond(tab-port) {
        width: 100vw;
        padding-top: 4rem;
    }
    @include respond(tab-land) {
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: 60% 1fr;
        grid-gap: 1rem;
    }  
}

.edit-waypoints-input-ctn {
    @include respond(tab-land) {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

.edit-waypoint-input {
    display: flex;
    gap: .5rem;
    align-items: center;
    input {
        height: 3rem;
        flex: 1;
        // padding-right: 1rem;
    }
    button {
        margin: 0;
        width: 2rem;
        height: 2rem;
    }
}

// .edit-trip-map {
//     @include respond(tab-land){
//         grid-column: 1/2;
//         grid-row: 1/3;
//         margin-top: 0;
//     }
// }
.edit-trip-data {
    @include respond(tab-land){
        grid-column: 2/3;
        grid-row: 2/3;
    }
}
.update-trip-btn {
    margin-bottom: 1rem;
    float: right;
}