.navbar {
    width: 100%;
    display: flex;
    z-index: 100;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    padding: .2rem 1.5rem;
    background-color: transparent;
    background-color: rgba( #000000, 0.3);
    @include respond(tab-port) {
        height: 3rem;
    }
    @include respond(tab-land) {
        padding: 0 7rem;
    }
    @include respond(desktop) {
        height: 4rem;
        a{
            font-size: 2rem;
            font-weight: bold;
        }
    }
    h1 {
        font-weight: 400;
        font-size: 1rem;
        @include respond(tab-port){
            font-size: 1.2rem;
        }
        a {
            text-decoration: none;
            color: $white-color;
        }
    }
    @include respond(tab-port) {
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    }
}

.nav-list {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba( $grey-color, 0.95);
    list-style: none;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    @include respond(tab-port) {
        transform: translateY(0);
        flex-direction: row;
        padding: 0;
        position: relative;
        background-color: transparent;
    }
    li {
        position: relative;
        padding: 25px 15px;
    }
    a, div {
        text-decoration: none;
        color: $white-color;
        font-weight: 400;
        cursor: pointer;
        &:active {
            color: $primary-color;
        }
        &:hover {
            color: $primary-color;
        }
        @include respond(desktop) {
            font-size: 1.2rem;
        }
    }   
}
.showMenu {
    transform: translateY(0);
    
  }
.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    border: none;
    background: transparent;
    color: $white-color;
    cursor: pointer;
    @include respond(tab-port) {
        display: none;
    }
}