.input-container {
    position: relative;
    width: 100%;
    
}

.search-suggestion {
    background-color: white;
    border: 1px solid gray;
    border-radius: 0 0 5px 5px;
    padding: 0 5px;
    position:absolute;
    text-align: left;
    z-index: 1;
    width: 100%;
    div {
        font-style: italic;
        font-size: .9rem;
        &:hover{
            cursor: pointer;
            background-color: lightblue;
        }
    }
}

.edit-suggestion {
    width: 70%;
  border: none;
}


