@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

//COLORS
$primary-color: rgb(4, 173, 196);
$secondary-color: rgb(6, 95, 80);
$white-color: rgb(224, 224, 224);
$grey-color: #303030;

//FONT
$font-primary: 'Poppins', sans-serif;