@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,200;1,300&display=swap');

//COLORS
$primary-color: rgb(4, 173, 196);
$secondary-color: rgb(6, 95, 80);
$white-color: rgb(255, 255, 255);
$grey-color: #494949;

//FONT
$font-primary: 'Poppins', sans-serif;