.mytrips-title {
    text-align: left;
    color: $white-color;
    margin: 4rem 0 1rem 1.5rem;
    @include respond(tab-port) {
      font-size: 1.8rem;
      margin: 5rem 0 2rem 4rem;
    }
    @include respond(tab-land) {
      font-size: 1.8rem;
      margin-left: 7rem;
    }
    @include respond(big-desktop) {
      margin-left: 30rem;
    }
}

