
.cards-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
}
.card {
  width: 80vw;
  height: 20rem;
  position: relative;
  padding: 0;
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius:10%;
    position: absolute;
    left:0;
    margin: 0;
  }
}
.card-details {
    width: 100%;
    position: absolute;
    bottom:0;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    a{
    width: 10rem;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: $white-color
    }
    h2 {
      font-size: 2.25rem;
      color: $white-color;
      line-height: 1.1;
    }
    p {
      font-size: 1rem;
      color: $white-color;
    }
}

