.trip-details-ctn {
    padding-top: 3rem;
}

.trip-ctn {
    background-color: $grey-color;
    padding: 0 1.5rem 2rem 1.5rem;
    @include respond(tab-port) {
        width: 100vw;
        padding-top: 4rem;
    }
    @include respond(tab-land) {
        display: grid;
        grid-template-rows: 4rem 4rem 1fr;
        grid-template-columns: 60% 1fr;
        grid-gap: 1rem;
    }  
}

.trip-map {
    height: 500px;
    border: 1px solid $grey-color;
    @include respond(tab-land) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin-top: 1rem;
        flex: 1;
    }
}
.trip-title {
    color: $white-color;
    padding-top: 2rem;
    margin: 0;
    @include respond(tab-port) {
        padding-top: 0;
    }
    @include respond(tab-land) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        font-size: 2rem;
    }
    @include respond(big-desktop) {
        padding-top: 2rem;
    }
}
.trip-summary {
    text-align: left;
    color: $white-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include respond(tab-land) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    h4 {
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }
    img {
        height: 25px;
    }
}
.trip-waypoints {
    position: relative;
    padding: 1rem 0;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    h5 {
        width: 30%;
    }
    ul {
        width: 50%;
        font-size: .8rem;
    }
    li {
        margin-left: 1rem;
    }
}
.trip-line {
    position: absolute;
    height: 65%;
    left: 12px;
    top: 43px;
    width: 2px;
    border-radius: 8px;
    background-image: repeating-linear-gradient(transparent, transparent 3px, $white-color 3px, $white-color 10px);
}

.trip-data {
    display: flex;
    gap: 4rem;
    margin: 2rem 0;
}
.trip-ctas {
    display: flex;
    gap: 1rem;
    justify-content: center;
    background-color: $grey-color;
    @include respond(tab-land) {
        grid-column: 1 / -1;    
        justify-content: flex-end;
        margin-right: 3rem;
    }
}

.spinner-ctn {
   width: 100%;
   margin-top: 1rem;
   background-color: $white-color;
   height: 20rem;
   padding-top: 2rem;
   @include respond(tab-port) {
    width: 100vw;
}
   
}
.spinner {
    width: 150px;
    height: 150px;
}