.trip-ctn {
    background-color: $white-color;
    padding-bottom: 2rem;
    @include respond(tab-land) {
        display: flex;
        flex-direction: row-reverse;
    }
    
}

.trip-map {
    height: 500px;
    border: 1px solid $grey-color;
    @include respond(tab-land) {
        margin-top: 1rem;
        flex: 1;
    }
}

.trip-summary {
    // margin: 0 1rem;
    text-align: left;
    color: $grey-color;
    @include respond(tab-land) {
        width: 30%;
    }
    h4 {
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }
    img {
        height: 25px;
    }
}
.trip-waypoints {
    position: relative;
    padding: 1rem 0;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    // @include respond(tab-land) {
    //     width: 30%;
    // }
    h5 {
        width: 30%;
    }
    ul {
        width: 50%;
        font-size: .8rem;
    }
    li {
        margin-left: 1rem;
    }
}
.trip-line {
    position: absolute;
    height: 65%;
    left: 12px;
    top: 43px;
    // bottom: 20px;
    // z-index: -5;
    width: 2px;
    border-radius: 8px;
    background-image: repeating-linear-gradient(transparent, transparent 3px, $white-color 3px, $white-color 10px);
}

.trip-data {
    display: flex;
    gap: 4rem;
    margin: 2rem 0;
}
.trip-ctas {
    display: flex;
    gap: 1rem;
    justify-content: center;
    background-color: $white-color;
    @include respond(tab-land) {
        justify-content: flex-end;
        margin-right: 3rem;
    }
}

.spinner {
    width: 50px;
   
}